@import url(layout_1.css);

header{
	
}


nav{
	background-repeat: no-repeat;
	background-position: left;
	background-image: url('../images/2014 web-logo wide.png');
	height: 109px;
	width: 45%;
	left: auto;
	background-attachment: scroll;
	
}

nav2 {



	
}



section{
	text-align: center;
}


article{
}


aside{
}


footer{
	
}


body{
	margin:0;
	background-image: url('../images/dino tile 32.jpg');
}


h1 {
	text-align: center;
	font-size: xx-large;
}

h2{
	border: thin;
	text-align: center;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
	background-color: #f1f1f1;
	position: fixed;
	height: auto;
	overflow: auto;
}

li a{
	display:block;
	color: #000;
	padding: 8px 16px;
	text-decoration:none;
}

li a.active{
	background-color: #4CAF50;
	color: white;
}

li a:hover:not(.active){
	background-color: #555;
	color: white;
}

.img-with-text{
	text-align: justify;
	width: 300px;
}

#fieldset1{
	float:left;
}