vti_encoding:SR|utf8-nl
vti_author:SR|omegazyph-PC\\omegazyph
vti_modifiedby:SR|omegazyph-PC\\omegazyph
vti_timelastmodified:TR|15 Sep 2017 23:47:08 -0000
vti_timecreated:TR|15 Sep 2017 18:17:11 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|jurassic\\ quest/styles/style0.css
vti_nexttolasttimemodified:TW|15 Sep 2017 22:50:44 -0000
vti_cacheddtm:TX|15 Sep 2017 23:47:08 -0000
vti_filesize:IR|506
